{% extends 'base.html.twig' %}

{% block title %}Hello MatchCategController!{% endblock %}

{% block body %}



  <div class="match-categ-content">
        <div class="match-top">

            <div class="match-info">
               <header> <h2 class="match-title"> 
               {{ date }} 
               </h2> </header>
            

            
                <img class="image-stade" src="{{ asset("images/open-stade.png") }}" alt="image 3D du stade">
            </div>

        </div>

        <div class="match-bottom">
            <div class="categorie loge">
                    <header> Loges </header>
                    <h3> {{ loges }} places restantes </h3>
                    <button class="slide" onclick="window.location.href = '{{ path("choix_options", { 'id' : id, 'type' : 1}) }}';">ACCES >></button>
                     <!--- Rediriger vers le billet correspondant au match-->
            </div>

            <div class="categorie cat1">
                    <header> Catégorie 1 </header>
                    <h3> {{cat1}} places restantes </h3>
                    <button class="slide" onclick="window.location.href = '{{ path("choix_options", { 'id' : id, 'type' : 2}) }}';">ACCES >></button>
                    <!--- Rediriger vers le billet correspondant au match-->
            </div>

            <div class="categorie cat2">
                    <header> Catégorie 2 </header>
                    <h3> {{cat2}} places restantes </h3>
                    <button class="slide" onclick="window.location.href = '{{ path("choix_options", { 'id' : id, 'type' : 3}) }}';">ACCES >></button>
                     <!--- Rediriger vers le billet correspondant au match-->
            </div>

            {% if date != 'Dimanche 23 mai' %}

            <div class="categorie annexe">
                    <header> Courts annexes </header>
                    <h3> {{annexe}} places restantes </h3>
                    <button class="slide" onclick="window.location.href = '{{ path("choix_options", { 'id' : id, 'type' : 4}) }}';">ACCES >></button>
                     <!--- Rediriger vers le billet correspondant au match-->
            </div>

            {% endif %}



        </div>


  </div>


{% endblock %}
