{% extends 'base.html.twig' %}

{% block title %}INSCRIPTION{% endblock %}

{% block body %}
 


  <div class="register-content">

        

        <div class="register-form">
        
        
            <form action="{{ path("inscription") }}" method="post">
                <h2 class="form-title">INSCRIPTION</h2>
                {{form_start(form)}}
        
                    
                 <div class="form-element">
                    {{form_row(form.nom)}}
                </div>
                <div class="form-element">
                    {{form_row(form.prenom)}}
                </div>  
                <div class="form-element">
                    {{form_row(form.mail)}}
                </div>
                <div class="form-element">
                    {{form_row(form.mdp)}}
                </div>
                <div class="form-element form-submit">
                    {{form_row(form.save)}}
                </div> 
                {{form_end(form)}}  
            </form>
            <div class="form-redirect">
            <p> Vous avez déja un compte ? <br> <a href="connexion">Se connecter</a></p>
            </div>
            
        </div>
		
</div>	




{% endblock %}
