<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
         <nav>
            <div class="wrapper">
            <div class="logo"><a href="{{ path("accueil") }}">Open Parc Lyon Billeterie</a></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                
                <li><a href="{{ path("accueil") }}">Accueil</a></li>
                
                <li><a href="{{ path("liste_matchs_simple") }}">Simple</a></li>
            
                <li><a href="{{ path("liste_matchs_double") }}">Double</a></li>

                <li class="hidden-space">hola<li>

                <li>
                <a href="{{ path("mon_espace") }}" class="desktop-item">Espace Perso</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Espace Perso</label>
                <ul class="drop-menu">
                    <li><a href="{{ path("mon_espace") }}">Mon espace</a></li>

                    <li><a href="">Deconnexion</a></li>
                </ul>
                </li>
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            </div>
        </nav>
        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="footer-top">
                <div class="footer-about">
                    <h3> A PROPOS </h3>
                    <p> Le tournoi de tennis de Lyon est un tournoi international de tennis masculin et féminin des circuits professionnels de l'ATP World Tour et de la WTA. Organisé par Sport Plus Conseil, le tournoi regroupe 28 joueurs et joueuse en simple et 16 équipe en binôme.
                    </p>
                </div>

                <div class="footer-links">
                    <h3> LIENS UTILES </h3>
                    <ul>
                        <li><a href="https://openparc.com/" target="_blank"> Site web </a></li>
                        <li><a href="https://twitter.com/OpenParcARA" target="_blank"> Twitter </a></li>
                        <li><a href="https://www.facebook.com/openparcauvergnerhonealpes/" target="_blank"> Facebook </a></li>
                    <ul>
                </div>
            </div>

            <div class="footer-bottom">
            <p>Copyright © 2021 IUT info Lyon 1 </p>
            </div>
        </footer>
    </body>
</html>
